      body {
        font-family: "Helvetica"; /* sans-serif font to enable easy reading by users */
        width:100%;
      }
      
      .clear {
        clear:both;
      }

      .header {
        /* The Courier typeface is used because 
         * it's available on Linux, Mac, & Windows. 
         *
         * It also looks like a typewriter font.  
         *
         * This will hopefully convey the feeling 
         * of technology to the end user */
        font-family:"Courier"; /* slab serif */
        padding:30px 0;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
      }

      h2,h3{
        /* Stick with the same typeface as our main site 
         * header, but use a different font for emphasis */
        font-family:"Courier Bold";
      }

      .content {
      }

      /*3 column grid */
      .center_column{
        width:31%;
        float:left;
        padding:0 1.5%;
      }

      .side_column{
        width:30%;
        float:left;
        padding:0 1.5%;
      }

      .section{
        line-height:1.6em;
      }
      p{
        /* With large chunks of text (like paragraphs) 1.3em
         * keeps the text more compact and easier to read */
        line-height:1.3em; 
      }

      .subsection{
        padding-bottom:5px;
      }

